{{#each this}}
<div>
    <div>
        <div>
            <div>
                <h5 class="card-title">{{this.name}}</h5>
                <ul class="list-group">
                    <li>
                        population
                        <span>{{this.population}}</span>
                    </li>
                    <li>
                        capital
                        <span>{{this.capital}}</span>
                    </li>
                    <li>
                        languages
                        <ul>
                            {{#each this.languages}}
                            <li>{{name}}</li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <img src="{{this.flag}}" alt="{{this.name}} flag">
        </div>
    </div>
</div>
{{/each}}